# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
android/local.properties

# IDEs
.idea/
.vscode/
*.swp
.DS_Store
